@keyframes float-A {
  0% {
    transform: translateX(9px) translateY(5px);
  }
  30% {
    transform: translateX(15px) translateY(-10px);
  }
  50% {
    transform: translateX(7px) translateY(10px);
  }
  70% {
    transform: translateX(10px) translateY(-9px); 
  }
  100% {
    transform: translateX(9px) translateY(5px); 
  }
}

@keyframes float-B {
  0% {
    transform: translateX(6px) translateY(5px);
  }
  30% {
    transform: translateX(5px) translateY(2px);
  }
  50% {
    transform: translateX(9px) translateY(-10px);
  }
  70% {
    transform: translateX(10px) translateY(0px); 
  }
  100% {
    transform: translateX(6px) translateY(5px); 
  }
}

.floatA {
  animation: float-A 20s ease infinite;
}

.floatB {
  animation: float-B 20s ease infinite;
}